.body {
    width: 100%;
    min-height: 100vh; /* siguradong at least 1 screen yung height, pero puwede pang lumaki */
    background-image: url('images/blur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* fixed background */
    display: flex;
    justify-content: center;
    align-items: center;
}
