.card{
    width: 370px;
    min-height: 540px;
    background-color: rgb(255,255,255,0.3);
    border: none;
    
}
.card img{
    width: 125px;
    height: 125px;
    position: absolute;
    top:0;
    top:25px;
    left: 124px;
}
.card input{
    border: none;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    padding-left: 20px;
    margin: 9px;
}
.card input:focus{
    outline: none;
}
.card button{
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #00A4B5;
    color: white;
    margin-top: 20px;
}

.card input,button,.validation-message{
    position: relative;
    top:60px;
    left: 68px;
}
.card h1{
    text-align: center;
    font-weight: 600;
    color: #32325D;
    line-height: 48px;
    margin-top: 90px;
    font-size: 2.2rem;
    position: relative;
    top:60px;
}
button{
    margin-left: 10px;
}

.validation-message{
    color: #eb5432;
    margin-left: 13px;
}

.input.invalid {
    border: 2px solid #fd8469;
    outline: none;
}
.register{
    color:  #32325D;
    margin-left: 86px;
    margin-top: 85px;
    width: 200px;
    text-align: center;
}

.register a{
    text-decoration: none;
    color:darkblue;
}