@page "/"
@layout AccountLayout
@inject AuthService authService
@inject NavigationManager nav
@inject AuthenticationStateProvider authProvider
@using System.ComponentModel.DataAnnotations

<link rel="stylesheet" href="/css/Account.css" />


<EditForm Model="@loginDTO" OnValidSubmit="SuccessllyValid">
      <DataAnnotationsValidator />
    <div class="card">
        <img src="images/MinsuLogo.png">
        <h1>Mindoro State University</h1>
        <InputText placeholder="Email" @bind-Value="loginDTO.email" class="input"/>
        <ValidationMessage For="@(() => loginDTO.email)"/>

        <InputText placeholder="Password" @bind-Value="loginDTO.password" class="input"/>
        <ValidationMessage For="@(() => loginDTO.password)" class="validation-message"/>
    
        <button type="submit">Sign in</button>
    </div>
</EditForm>

@code{
    LoginDTO loginDTO = new();

    protected override async Task OnInitializedAsync(){
        await authService.EnsureValidToken();
        var auth = await authProvider.GetAuthenticationStateAsync();
        if(auth.User.Identity?.IsAuthenticated == true){
            nav.NavigateTo("/Tama");
        }
    }
    
    public async Task SuccessllyValid(){
        var token = await authService.login(loginDTO);
        if(!string.IsNullOrWhiteSpace(token)){
            ((CustomAuthProvider)authProvider).NotifyUserAuthentication(token);
            nav.NavigateTo("/Tama");
        } 
        else{
            nav.NavigateTo("/Mali");
        }
    }



    
    
}


