@page "/register"
@layout AccountLayout
@inject NavigationManager nav

<link rel="stylesheet" href="/css/Register.css" />

<div class="container">
    <div class="form-card">
        <h2>Create Student Account</h2>
        <p class="subtitle">Fill in the details to register</p>

        <div class="form-grid">
            <div class="input-group">
                <input type="text" placeholder="Firstname">
            </div>
            <div class="input-group">
                <input type="text" placeholder="Middlename">
            </div>
            <div class="input-group">
                <input type="text" placeholder="Lastname">
            </div>

            <div class="input-group">
                <select>
                    <option value="">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="LGBTQ">LGBTQ</option>
                </select>
            </div>

            <div class="input-group">
                <input type="number" min="1950" max="2025" placeholder="Year of Birth">
            </div>
            <div class="input-group">
                <select>
                    <option value="">Month of Birth</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="input-group">
                <input type="number" min="1" max="31" placeholder="Date of Birth">
            </div>

            <div class="input-group">
                <input type="text" placeholder="Home Address">
            </div>
            <div class="input-group">
                <input type="number" placeholder="Mobile Number">
            </div>

            <div class="input-group">
                <select>
                    <option value="">Program</option>
                    <option value="BSIT">BSIT</option>
                    <option value="BSED">BSED</option>
                    <option value="BSTM">BSTM</option>
                    <option value="BSCPE">BSCPE</option>
                    <option value="BSCRIM">BSCRIM</option>
                </select>
            </div>

            <div class="input-group">
                <select>
                    <option value="">Year Level</option>
                    <option value="1">First Year</option>
                    <option value="2">Second Year</option>
                    <option value="3">Third Year</option>
                    <option value="4">Fourth Year</option>
                </select>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Student ID">
            </div>
            <div class="input-group">
                <input type="email" placeholder="Email">
            </div>
            <div class="input-group">
                <input type="password" placeholder="Password">
            </div>
        </div>

        <button class="btn-submit">Sign up</button>
        <p class="subtitle2">Already have an account?</p>
        <a href="/">Sign in</a>
    </div>
</div>
